2. Flatten the following list of lists of lists to a one dimensional list: 
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

output
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
import math

In [21]:
list_of_lists = [[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

In [29]:
[number for row in [number for row in list_of_lists for number in row] for number in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Using list comprehension create the following list of tuples:

[(0, 1, 0, 0, 0, 0, 0),
(1, 1, 1, 1, 1, 1, 1),
(2, 1, 2, 4, 8, 16, 32),
(3, 1, 3, 9, 27, 81, 243),
(4, 1, 4, 16, 64, 256, 1024),
(5, 1, 5, 25, 125, 625, 3125),
(6, 1, 6, 36, 216, 1296, 7776),
(7, 1, 7, 49, 343, 2401, 16807),
(8, 1, 8, 64, 512, 4096, 32768),
(9, 1, 9, 81, 729, 6561, 59049),
(10, 1, 10, 100, 1000, 10000, 100000)]

In [27]:
[(i, 1, i*1, i*i, i*i*i, i*i*i*i, i*i*i*i*i) for i in range(11)]

[(0, 1, 0, 0, 0, 0, 0),
 (1, 1, 1, 1, 1, 1, 1),
 (2, 1, 2, 4, 8, 16, 32),
 (3, 1, 3, 9, 27, 81, 243),
 (4, 1, 4, 16, 64, 256, 1024),
 (5, 1, 5, 25, 125, 625, 3125),
 (6, 1, 6, 36, 216, 1296, 7776),
 (7, 1, 7, 49, 343, 2401, 16807),
 (8, 1, 8, 64, 512, 4096, 32768),
 (9, 1, 9, 81, 729, 6561, 59049),
 (10, 1, 10, 100, 1000, 10000, 100000)]

5. Change the following list to a list of dictionaries:

countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

output:
[{'country': 'FINLAND', 'city': 'HELSINKI'},
{'country': 'SWEDEN', 'city': 'STOCKHOLM'},
{'country': 'NORWAY', 'city': 'OSLO'}]

In [65]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

In [85]:
listHold = []
for i in [i for m in countries for i in m]:
    # i in [('Finland', 'Helsinki'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo')]
    output = {}
    output['country'] = i[0].upper()
    output['city'] = i[1].upper()
    listHold.append(output)
    
listHold

[{'country': 'FINLAND', 'city': 'HELSINKI'},
 {'country': 'SWEDEN', 'city': 'STOCKHOLM'},
 {'country': 'NORWAY', 'city': 'OSLO'}]

6. Change the following list of lists to flat list:

names = [[('Asabeneh', 'Yetaeyeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

output:
['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [86]:
names = [[('Asabeneh', 'Yetaeyeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

In [95]:
[i[0] + ' ' + i[1] for m in names for i in m]

['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']